code/__pycache__/DisturbingFunctionSplittingMethod.cpython-39.pyc
notebooks/.ipynb_checkpoints/IntegrateChains-checkpoint.ipynb
chaos_grid_scaled_mass.png
code/grid_0.npy
code/resonance_web_data_J5.pkl
code/resonance_web_data_J6.pkl
code/resonance_web_data_J7.pkl
code/resonance_web_data_J8.pkl
code/__pycache__/chaos_grid_utils.cpython-311.pyc
code/__pycache__/run_integrations.cpython-311.pyc
code/__pycache__/three_body_mmr.cpython-311.pyc
data/three_planet_e0_1e7.pkl
data/three_planet_e0_1e9.pkl
figures/3b_overlap_vs_pratio_m3e-6.png
figures/instability_timescale.png
figures/RADAU_web_with_points.png
figures/web_with_points.png
MathematicaNotebooks/LieSeries_2ndOrderResonance.nb
notebooks/3BR_overlap_eccentric.ipynb
notebooks/3BR_overlap_versus_instability_time.ipynb
notebooks/3br.sa
notebooks/ChaosGridPlot.ipynb
notebooks/HigherOrder3bodyMMRs.ipynb
notebooks/PlotWeb.ipynb
notebooks/.ipynb_checkpoints/3BR_overlap_eccentric-checkpoint.ipynb
notebooks/.ipynb_checkpoints/3BR_overlap_versus_instability_time-checkpoint.ipynb
notebooks/.ipynb_checkpoints/ChaosGridPlot-checkpoint.ipynb
notebooks/.ipynb_checkpoints/HigherOrder3bodyMMRs-checkpoint.ipynb
notebooks/.ipynb_checkpoints/PlotWeb-checkpoint.ipynb
notebooks/.ipynb_checkpoints/RadauIntegration-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Test_3body_MMR-checkpoint.ipynb
notebooks/.ipynb_checkpoints/ThreeBodyWidths-checkpoint.ipynb
notebooks/RadauIntegration.ipynb
